---
import Layout from '../components/layout/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import About from '../components/sections/About.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import HappyClients from '../components/sections/HappyClients.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout 
	title="Guppy Vet - Veterinaria en Macul | Cerca Metro Macul | Cuidado integral para tus mascotas"
	description="Veterinaria en Macul, cerca del Metro Macul. Especializada en el cuidado integral de tus mascotas. Ofrecemos consultas, vacunas, cirugías y emergencias con amor y profesionalismo en Santiago, Chile."
	keywords="veterinaria Macul, veterinaria cerca Metro Macul, cuidado mascotas Santiago, consultas veterinarias Macul, vacunas perros gatos Santiago, cirugía veterinaria Macul, emergencias animales Santiago, clínica veterinaria Macul, salud animal Santiago, tratamientos veterinarios Metro Macul"
>
	<Header />
	<main>
		<Hero />
		<Services />
		<About />
		<Testimonials />
		<HappyClients />
		<Contact />
	</main>
	<Footer />
</Layout>
